@charset "utf-8";

/* 메인 */
main{
    width: 100%;
}

/* 경로 */
.breadcrumb{
    padding: 25px 20px;
    font-size: 13px;
    color: #777;
}

/* 상품 상세 */
.product-detail{
    display: flex;
    padding: 20px;
}

/* 왼쪽 상품 이미지 */
.detail-image{
    width: 55%;
    padding-right: 50px;
}
.image-box{
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.image-box img{
    width: 85%;
    height: 85%;
    object-fit: contain;
}

/* 오른쪽 상품 정보 */
.detail-info{
    width: 45%;
    padding: 30px 10px;
}

/* 상품명 */
.detail-info h2{
    font-size: 35px;
    margin-bottom: 35px;
}

/* 가격 / 배송 */
.info-line{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;
    border-bottom: 1px solid #eee;
}

.info-line span {
    color: #777;
}

.info-line strong {
    font-size: 16px;
}

/* 가격 */
.info-line.price strong {
    font-size: 28px;
}


/* 옵션 */

.option-area {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px 0;

    border-bottom: 1px solid #eee;
}

.option-area label {
    color: #777;
}

.option-area select {
    width: 250px;
    height: 40px;

    padding: 0 10px;

    border: 1px solid #ccc;

    background-color: white;
}

/* 수량 */
.quantity-area {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.quantity-area > span {
    color: #777;
}

/* - 1 + */
.quantity-box {
    display: flex;

    height: 40px;
}

.quantity-box button {
    width: 40px;

    border: 1px solid #ccc;

    background-color: white;

    font-size: 18px;

    cursor: pointer;
}

.quantity-box button:hover {
    background-color: #f5f5f5;
}

.quantity-box input {
    width: 50px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    border-left: none;
    border-right: none;

    text-align: center;

    font-size: 15px;

    outline: none;
}

/* 장바구니 / 구매하기 */
.button-area {
    display: flex;

    gap: 10px;

    margin-top: 30px;
}

.button-area button {
    height: 55px;

    border-radius: 6px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

/* 장바구니 */
.cart-button {
    width: 40%;

    border: 1px solid #333;

    background-color: white;

    color: #333;
}

.cart-button:hover {
    background-color: #f5f5f5;
}

/* 구매하기 */
.buy-button {
    width: 60%;

    border: none;

    background-color: #333;

    color: white;
}

.buy-button:hover {
    background-color: #e60012;
}

/* 상품 상세 창 */
.product-description-section {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 80px;
    text-align: center;
}
.product-description-section h2{
    margin-bottom: 40px;
    font-size: 42px;
    color: #222;
}
.description-image{
    width: 100%;
    margin-bottom: 35px;
}
.description-image img{
    display: block;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}
.product-description-section h3 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #222;
}
.description-text{
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.8;
    color: #777;
}

/* 상품소재 / 상품용도 / 기타 */
.description-info{
    width: 100%;
    padding: 30px 35px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}
.description-row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    text-align: left;
}
.description-row:last-child{
    margin-bottom: 0;
}

.description-title{
    flex: 0 0 100px;
    padding: 7px 5px;

    border: 2px solid #888;
    background-color: white;

    font-size: 18px;
    color:#666;
    text-align: center;
    box-sizing: border-box;
}

.description-content {
    flex: 1;
    padding: 7px 0 0 25px;

    font-size: 19px;
    line-height: 1.5;
    color: #666;
}

.description-content.warning {
    color: red;
}

/* footer */
footer {
    background-color: rgb(143, 74, 83);
    text-align: center;
    padding: 10px 0 20px;
}
footer p {
    color: rgb(224, 202, 202);
    font-size: 0.9rem;
}